// Global Styles
@import '~aleph1-layout/dist/main.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Assistant', sans-serif;
}

body {
  background-color: #f6f6f6;
}

.pointer {
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}

.auth-card {
  min-height: 300px;
  min-width: 300px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.input {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;

  &:focus {
    outline: 0;
    border-color: #000;
  }
}

.btn {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 1rem;

  &:focus {
    outline: 0
  }

  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }
}

.btn-primary {
  background-color: #1872b1;
  color: #fff;
}

.btn-secondary {
  background: #F2994A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
